[defaults]
# Points to your inventory file
inventory = ./inventory

# Uses the alias you set up in ~/.ssh/config
remote_user = ubuntu

# Optional: Stop Ansible from asking about SSH fingerprints for new hosts
host_key_checking = False

# The path to your python interpreter if you want it global for this project
interpreter_python = /usr/bin/python3.10